# Learn more: https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Android / iOS / Native
.android/
.ios/
.gradle/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/keystores/

# Metro bundler cache
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# TypeScript build info
*.tsbuildinfo

# Local environment files
.env
.env.*
!.env.example    # keep the example file visible in Git

# Expo or EAS local metadata
eas.json.local

# IDE settings
.vscode/
.idea/

# Misc
app-example
